<div class="container">

  <h1>{{post.title}} <small class="pull-right">{{post.createdOn | date:'yyyy.MM.dd. HH:mm'}}</small></h1>
  <p class="lead">{{post.summary}}</p>
  <hr/>

  <p>{{post.content}}</p>
  <hr/>

  <h4>Discuss below <small class="pull-right">{{comments.length}} comment{{comments.length == 1 ? '' : 's'}}</small></h4>
  <div class="panel panel-default" ng-repeat="comment in comments">
    <div class="panel-heading">
      <span>{{comment.author.name}}</span>
      <span class="pull-right">
        <i class="fa fa-lg fa-fw fa-edit" title="Szerkeszt"
                ng-show="isOwnComment(comment) && !comment.edited" ng-click="comment.edited = true"></i>
        <i class="fa fa-lg fa-fw fa-save" title="Mentés" ng-show="comment.edited" ng-click="saveComment(comment)"></i>
        <i class="fa fa-lg fa-fw fa-close" title="Mégse" ng-show="comment.edited" ng-click="comment.edited = false"></i>
        {{comment.createdOn | date:'yyyy.MM.dd. HH:mm'}}
      </span>
    </div>
    <div class="panel-body">
      <span ng-hide="comment.edited">{{comment.content}}</span>
      <textarea class="form-control" rows="3" ng-model="comment.content" ng-if="comment.edited"></textarea>
    </div>
  </div>

  <div ng-if="isLoggedIn()">
    <hr/>
    <h4>Post a comment</h4>
    <ng-form>
      <div class="form-group">
        <textarea class="form-control" rows="3" ng-model="$parent.commentToPost"></textarea>
      </div>
      <div class="form-group">
        <button ng-click="postComment()">Post comment</button>
      </div>
    </ng-form>
  </div>


</div>
