<div class="container">
  <h1>{{post.title}}</h1>
  <p>{{post.content}}</p>


  <hr>
  <h4>Kommenteld meg jól!</h4>
  <ng-form>
    <div class="form-group">
      <textarea class="form-control" ng-model="commentToPost"></textarea>
    </div>
    <div class="form-group">
      <button ng-click="post_comment()">Küldés</button>
    </div>
  </ng-form>

  <hr>
  <div class="panel panel-default" ng-repeat="comment in comments">
    <div class="panel-heading">
      {{comment.author}}
    </div>
    <div class="panel-body">
      {{comment.content}}
    </div>
  </div>


</div>
