<div class="container">

  <header class="hero-unit" id="banner">
    <div class="container">
      <h1>Welcome to TLog!</h1>
      <p class="lead">Check out this awesome blogging site.</p>
    </div>
  </header>

  <ul class="media-list">
    <li class="media" ng-repeat="post in posts">
      <div class="media-body">
        <h2 class="media-heading">{{post.title}}</h2>
        <blockquote><p class="lead">{{post.summary}}</p></blockquote>
        <p>{{post.createdOn | date:'yyyy.MM.dd. HH:mm'}}</p>
        <a href="/post/{{post._id}}">Read more</a>
      </div>
      <hr ng-show="$index < posts.length - 1" />
    </li>
  </ul>

  <small class="col-lg-12 text-center">posts {{(currentPage - 1) * 10}} - {{(currentPage - 1) * 10 + posts.length}} of {{totalItems}}</small>

  <pager total-items="totalItems" ng-model="currentPage"></pager>

</div>
